* {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #053830;
    border-bottom: 5px solid #9FBE61;
}

.section1 {
    background-color: grey;
}

footer {
    background-color: #2F2F2A;
}

h1 {
    font-family: 'Libre Baskerville';
    font-size: 38px;
    color: #fff;
    font-weight: 300;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    color: #FCFCFC;
}

h3 {
    font-family: 'Roboto Condensed';
    font-size: 25px;
    color: #0F0F0F;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #FCFCFC;
}

h5.style1 {
    font-family: 'Libre Baskerville';
    color: #FFF8CA;
    font-weight: 300;
    font-size: 15px;
}

h5.style2 {
    font-family: 'Roboto Condensed';
    color: #0F0F0F;
    font-weight: bold;
    font-size: 15px;
}

h5.style3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #D8D8D8;
    
}


p.p1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
    color: #AFAF84;
    font-weight: bold;
}

p.p2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #535353;
    font-size: 15px;
    font-weight: bold;
}

p.p3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #3E3E3E;
    font-size: 15px;
}

p.p4 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #535353;
    font-size: 12px;
    font-weight: bold;
}


h1, h2, h3, h4, h5, p, ul {
    margin: 0;
}

a {
    text-decoration: none;
}

header ul, footer ul {
    list-style-type: none;
}

ul {
    padding: 0;
}



/*header*/

header {
    padding:  25px 30px 15px 0;
}

.mainTitle {
    display: inline-block;
}

header nav {
    background-color: #053B33;
    border: 3px solid #064138;
    border-radius: 30px;
    float: right;
    display: inline;
}

header nav a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #AFAF84;
}

header nav ul {
    padding: 15px 30px 15px 30px;
}

header nav li {
    display: inline;
    padding-right: 25px;
    padding-left: 25px;
}

header nav li + li {
    border-left: 1px ridge #53533E;
}

header nav a:hover {
    color: #C1E776;
}


/*section1*/

.section1 {
    padding: 25px 0 25px 0;
}

.section1 div.infoSection1 {
    padding-left: 50px;
}

.sectionContainer1, .sectionContainer2 {
    display: flex;
}

.section1 h2 {
    margin-bottom: 20px;
}

.section1 p.p1 {
    margin-bottom: 25px;
}

.section1 button {
    background-color: #9FBE61;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    font-size: 15px;
    color: #0F0F0F;
    padding: 5px 15px 5px 15px;
    border: 1px solid #A9A9A9;
    border-radius: 7px;
}


/*section2*/

.section2 h3 {
    border-bottom: 2px solid #9FBE61;
    padding-bottom: 20px;
}

.section2 div.dataSection2 {
    
    padding-top: 20px;
}
.sectionContainer2 {
    background-color: #FFFFF6;
    padding: 50px 0 50px 0;
}

.section2 div.dataSection2 p.p2 {
    margin-bottom: 15px;
}

.section2  ul.list1 {
    padding: 30px 0 15px 30px;
}

.section2  ul.list1 li {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
}

section.section2 ul.list2 {
    list-style-type: none;
}

section.section2 ul.list2 time {
    font-family: 'Source Sans Pro', sans-serif;
    color: #535353;
    font-size: 15px;
    font-weight: bold
}

section.section2 div.dataSection2 p.border {
    border-left: 8px solid #9FBE61;
    padding-left: 20px;
}

section.section2 ul.list2 div.list2Data {
    padding-left: 10px;
}

section.section2 ul.list2 li {
    background-color: #EAEAEA;
    padding: 20px 0 20px 20px;
    border: 1px solid #E1E1E1;
    display: flex;
}


section.section2 div.news h4 {
    background-color: grey;
    padding: 10px 0 10px 20px;
}

.sectionContainer2 div.infoSection2 {
    width: 65%;
    margin-right: 60px;
}

.sectionContainer2 div.news {
    width: 35%;
}

/*footer*/

footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer div.footerList a {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color:#828282;
}

footer div.footerList {
    display: flex;
    margin-bottom: 30px;
}

footer div.footerListOne {
    width: 20%;
   padding-right: 55px;
}

footer div.footerListOne ul {
    padding-left: 20px;
}

footer div.footerListOne ul li {
    margin-bottom: 5px;
}

footer div.footerList h5.style3 {
    background-color: #272723;
    padding: 3px 0 5px 20px;
    border: 2px solid #32322D;
    border-radius: 17px;
}

footer div.copyright {
    color: #5C5C5C;
}

footer div.copyright p span {
    color: #828282;
}
